<a href="https://colab.research.google.com/github/seenuvasan1947/nann_mudalvan_ai/blob/main/naan_mudalvan_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('5')

5

In [ ]:
x,y,z=10,2,3
x+y+z

15

In [ ]:
x>y

True

In [ ]:
list=[x,y,z]
# list[0]
# list[1:2]
list[-1]
# list

3

In [ ]:
tup=('seenu','money','happy')
# tup[1]
# tup[2]='jolly' #error 'tuple' object does not support item assignment

In [ ]:
del tup

In [ ]:
a={1,2,3,4}
a
a.add(5)
a

{1, 2, 3, 4, 5}

In [ ]:
dec= {'m':1,'b':2}
dec['m']

1

In [ ]:
dec['b']=5
dec

{'m': 1, 'b': 5}

statement

In [ ]:
x= 5
y= 10

In [ ]:
if x>y:
  print('x greater than y')
elif x==y:
  print('x equal to y')  
else:
  print('x less than y')

x less than y

In [ ]:
abc = int(input('enter abc'))
abc

enter abc123

123

In [ ]:
for i in range(15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
a=0
while(a<=15):
  if a%2==0:
   print(a)
  a=a+1

0
2
4
6
8
10
12
14

In [ ]:
a=0
while(a<=15):
  
   print(a)
   a=a+2

0
2
4
6
8
10
12
14

In [ ]:
for i in range (20):
   if i%2 ==0:
     print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
def my_func ():
  a=a+2
  print(a)
  my_func()

In [ ]:
def main():
  my_func()

In [ ]:
import numpy as np

In [ ]:
dia1= np.array([1,2,3,4])
dia2=np.array([[1,2,3],[3,2,1]])
dia3=np.array([[[1,2,3],[4,5,6],[3,2,1]]])
dia1.ndim
dia2.ndim
dia3.ndim

3

In [ ]:
dia31 = np.array([[abc],[abc],[abc],[abc]])
# dia31.ndim
dia31

array([[[1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.]]])

In [ ]:
abc =np.ones(5)
abc

array([1., 1., 1., 1., 1.])

In [ ]:
dia3.argmax()
dia3.argmin()

0

In [ ]:
dia3.dtype

dtype('int64')